composer.phar
vendor
*.env
errors.log


# No need to store all files, just the example set.
client/static/assets/posters/*.*
!backtothefuture.jpg
!bohemianrhapsody.jpg
!endgame.jpg
!greenbook.jpg
!music1.jpg
!infinitywar.jpg
!lalaland.jpg
!moonlight.jpg
!prisoners.jpg
!pulpfiction.jpg
!spiderman2.jpg
!titanic.jpg

