#container {
  height: 100vh;
  width: 99vw;
  overflow-x: hidden;
  position: fixed;
  z-index: -100;
}

#bgImage {
  height: 100vh;
  position: absolute;
  top: 0;
  width: 33vw;
  left: 0;
  z-index: -11;
}
