<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			{% block title %}{% endblock %}
		</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="css/styles.css"/>
		<link rel="stylesheet" href="css/background.css"/>
	</head>

	<body>
		<nav class="navbar navbar-expand-md bg-custom navbar-dark fixed-top">
			<a class="navbar-brand" href="./"> {% block brand %}{% endblock %}
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="collapsibleNavbar">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" href="#">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="?action=viewMovies">Movies</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Services</a>
						</li>
						<!-- Dropdown -->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" data-toggle="dropdown">Movies</a>
							<div class="dropdown-menu dropdown-menu-right">
								<a class="dropdown-item" href="?action=addMovie">Add Movie</a>
								<a class="dropdown-item" href="?action=viewMovies">View Movies</a>
								<a class="dropdown-item" href="?action=searchMovies">Search Movie</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>
			<div id="container">
				<div id="bgImage"></div>
			</div>
			<main id="main"> {% block body %}{% endblock %}
				</main>
				<div class="footer">Copyright 2024</div>
			</body>
			<script src="js/index.js" type="module"></script>
		</html>
