{% extends 'base.twig' %}
{% block title %}Movie App Home
{% endblock %}
{% block brand %}Movie App Home
{% endblock %}
{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8 box-red text-center">Movie App</div>
			<div class="col-md-2"></div>
		</div>
	</div>
{% endblock %}
